.players {
  /*float: left;*/
  /*width: 50%;*/
  display: block;
  width: 100%;
  padding: 0 auto;
  box-sizing: border-box;
}

.player {
  /*float: left;*/
  /*width: 100%;*/
}

.button {
  height: 50px;
  width: 130px;
  border-radius: 5px;
  color: white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: 10px;
  background-color: #00537a;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.value {
  font-size: 25px;
  width: 130px;
  float: left;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}
