.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background: rgba(102, 103, 109, 0.4);
  outline: 0;
}
.modalContent {
  padding: 50px;
  width: 60%;
  background: black;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 1;
}

.modalHeader {
  position: relative;
  height: 70px;
  text-align: center;
  font-size: 2em;
  color: white;
}

.modalIsOpen {
  display: block;
}
.modalIsClosed {
  display: none;
}
