.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background: rgba(109, 109, 109, 0.6);
  padding-top: 20%;
  width: 100%;
}

.modalHeader {
  position: relative;
  height: 70px;
  text-align: center;
  font-size: 2em;
  color: white;
}

.modalIsOpen {
  display: block;
}

.modalIsClosed {
  display: none;
}

.closeButton {
  width: 30px;
  height: 30px;
  margin-left: 150px;
}
