.row {
  width: 100%;
  margin: auto;
  display: inline-block;
  text-align: center;
}

.smallCard {
  padding: 3px;
  position: relative;
  display: inline-block;
  width: 36px;
  border-radius: 4px;
  border: 1px solid ghostwhite;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  color: #fff;
  font-size: 20px;
  margin: 2px;
}

.smallCard .opacity {
  opacity: 0.5;
}

.smallCard-hearts {
  background: #e44145;
}

.smallCard-spades {
  background: #252525;
}

.smallCard-diamonds {
  background: #6485ee;
}

.smallCard-clubs {
  background: #3a915e;
}

.smallCardValue {
  text-align: left;
}

.smallCard .hearts:after {
  content: '♥';
  color: #ffffff;
}

.smallCard .spades:after {
  content: '♠';
  color: #ffffff;
}

.smallCard .clubs:before {
  content: '♣';
  color: #ffffff;
}

.smallCard .diamonds:before {
  content: '♦';
  color: #ffffff;
}

.isSelected {
  pointer-events: none;
  opacity: 0.3;
}
