.row {
  width: 100%;
  margin: auto;
  display: inline-block;
  text-align: center;
}

.smallCard {
  padding: 3px;
  position: relative;
  display: inline-block;
  width: 38px;
  margin: 2px;
  border-radius: 4px;
  border: 1px solid ghostwhite;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  color: #fff;
}

.smallCard .opacity {
  opacity: 0.5;
}

.smallCard-hearts {
  background: #e44145;
}

.smallCard-spades {
  background: #252525;
}

.smallCard-diamonds {
  background: #6485ee;
}

.smallCard-clubs {
  background: #3a915e;
}

.value {
  text-align: left;
}

.smallCard > .hearts:before {
  content: '';
}
.smallCard > .hearts:after {
  margin: 5px;
  font-size: 25px;
  color: #fff;
}

.smallCard .spades:before {
  content: '';
}
.smallCard .spades:after {
  margin: 5px;
  font-size: 25px;
  color: #fff;
}

.smallCard .clubs:before {
  content: '';
}
.smallCard .clubs:after {
  margin: 5px;
  font-size: 25px;
  color: #fff;
  text-align: center;
}

.smallCard .diamonds:before {
  content: '';
}
.smallCard .diamonds:after {
  margin: 5px;
  font-size: 25px;
  color: #fff;
  text-align: center;
}

.isSelected {
  pointer-events: none;
  opacity: 0.3;
}
